<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>

</head>

<body style="font-size:20px; padding:50px;">
    <body style="font-size:20px; padding:50px;">
    <% include ./partials/_header %>
     <h1>URLs</h1>
    <a href="/urls/new">Create a New Short URL</a>
      <ul>
      <% for (var shortURL in urls) { %>
      <a href='/u/<%= shortURL %>'><%= shortURL %></a>:  <%= urls[shortURL].longURL %>
        <form method="POST" action="/urls/<%=shortURL%>/delete">
          <button type="submit" value="delete" class="btn btn-primary">Delete</button>
        </form>
        <form method="GET" action="/urls/<%=shortURL%>">
          <button type="submit" value="edit" class="btn btn-primary">Edit</button>
        </form>
      <% } %>
    </ul>
</body>

</html>
